/*
General
*/

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    --primary-green: #9ac89f;
    --primary-green-light: #b6e6bc;
    --primary-green-dark: #7baa80;
    --warning: #f2784b;
    --blue: #3498db;
    --grey: #7f7f7f;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

header {
    height: 12vh;
    text-align: center;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.logo {
    height: 50px;
    margin: 20px auto 10px auto;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
}

.container {
    min-height: 76vh;
    padding: 20px;
}

.container-inner {
    padding: 30px;
}

nav {
    height: 12vh;
    min-height: 10vh;
}

.icon--header {
    height: 30px;
    width: 30px;
}

.icon--small {
  height: 20px;
  width: 20px;
}

.icon {
    height: 40px;
    width: 40px;
}

.outlined {
    padding: 5px;
    border: 2px solid var(--primary-green);
    color: var(--primary-green);
    border-radius: 8px;
}

/*
  Buttons
*/

.btn {
    padding: 5px;
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}

.btn__nav {
    background-color: var(--grey);
}

.btn__call-to-action {
    width: 70%;
    padding: 22px;
    border: none;
    color: white;
    font-size: 0.9em;
    background-color: var(--primary-green);
    border-radius: 30px;
    margin: 30px 0;
    -webkit-appearance: none;
    appearance: none;
}

.btn__call-to-action:hover,
.btn__call-to-action:focus {
    background-color: var(--primary-green-dark);
}

/*
  Input
*/

input[type='text'],
input[type='submit'] {
    font-size: 0.9em;
    border: none;
    padding: 15px;
    margin-bottom: 30px;
    -webkit-appearance: none;
    appearance: none;
}

input[type='text'] {
    width: 70%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    border: 2px solid var(--primary-green);
    color: var(--primary-green-dark);
}

input[type='submit'] {
    background-color: var(--primary-green);
    border: 2px solid var(--primary-green);
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/*
  Utilities
*/
.hidden {
    display: none;
}

.center {
    text-align: center;
    margin: 0 auto 0 auto;
}

.bold {
    font-weight: bold;
}

.margin-y-30 {
    margin: 30px 0px;
}

.margin-y-20 {
    margin: 20px 0px;
}

.margin-y-5 {
    margin: 5px 0px;
}

.line-height-normal {
    line-height: 1.5;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.line-height-extra {
    line-height: 200%;
}

.warning {
    color: var(--warning);
}

.success {
    color: var(--blue);
}

.border-none {
    border: none;
}

.text-white {
  color: #ffffff;
}

.margin-small {
  margin: 5px;
}