/*
General
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
}

.container{
  padding: 20px;
}


/*
  Buttons
*/


.btn{
  padding: 5px;
  border-radius: 0px;
}

.btn__call-to-action{
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
}

/*
  Utilities
*/
.hidden{
  display: none;
}

.center{
  text-align: center;
  margin: 0 auto 0 auto;
}


/*
  To be removed, currently used for testing
*/

.red{
  text-transform: capitalize;
  color: red;
}

.green{
  color: green;
}

.pink{
  color: pink;
}